<%const features = {"BUY":"/buy",'SELL':'/allmodels/sell',"RENT":"/rent",'REPAIR':"/allmodels/repair",'REFURBISH':"/refurbish",'RECYCLE':"/recycle"}
const products = [
  { category: "phone", brands: ["Apple", "Samsung", "OnePlus"] }, //
  { category: "laptop", brands: ["HP", "Lenovo", "Apple"] }, //
  { category: "smartwatch", brands: ["Apple", "Samsung"] }, 
  { category: "camera", brands: ["Canon", "Nikon"] }, //samsung
  { category: "headphone", brands: ["Sony", "JBL"] },
  { category: "earbud", brands: ["Boat", "Apple", "Samsung"] }, //boat 
  { category: "tablet", brands: ["Apple", "Samsung", "Lenovo"] } 
]%>
<ul class="nav-center">
    <%for(let [key,value] of Object.entries(features)){%>
    <li>
      <a href="#"><%= key%><i class="fas fa-chevron-down chev"></i></a>
      <div class="drop-menu">
        <%for(let pr of products){%>
        <div class="drop-item"><a href="#"><%=pr.category[0].toUpperCase()+pr.category.slice(1)%><i class="fas fa-chevron-right chev-r"></i></a>
          <div class="sub-menu">
            <a href="<%=value%>/<%=pr.category%>">All</a>
            <%for(let br of pr.brands){%>
              <a href="<%=value%>/<%=pr.category%>?brand=<%=br%>"><%=br%></a>
              <%}%>
          </div>
        </div>
        <%}%>
      </div>
    </li>
    <%}%>
  </ul>